<!DOCTYPE html>
<html>
<head>
    <title><%= writing.title %> 스터티 모집</title>
    
</head>

<body>
    <div style="text-align: right">
        <%= user_nickname %>
    </div>
    <% let islogined; %>
        <% if(user_nickname !='' ){ %>
            <div style="text-align: right"><a href="/auth/logout">logout</a></div>
            <% } else{ %>
    
                <% } %>
    <h1 class="title"><a href="/" class="lettering">포스텍 개발자 다모임</a></h1>
    <a href="/study">스터디 모집 </a>
    <h2 style="text-align: center"><%= writing.title %></h2>
    <div style="text-align: right">
        <%= "작성자 : " + writing.nickname %>
        <br/>
        <%= "작성 날짜 : " + writing.createat.toLocaleString() %>
    </div>
    <div style="text-align: right">
    <form action="/study/apply" method="post">
        <input type="hidden" name="study_id" value= "<%= study_id %>">
            <input type="submit" value="지원하기">
    </form>
    </div>
    <div>
        <%= writing.description %>
    </div>
    
    <% for(var i=0; i < applicants_list.length; i++) { %>

    
            <br>
            <p>
                <li> <%= (i+1) %>번 지원자 <%= ' 이메일: ' + applicants_list[i].applicant_email %> </a>
    
                    <%= " - " + applicants_list[i].applyat.toLocaleString() %>
                </li>
            </p>
            <hr />
    
            <% } %>


</body>


</html>